SocialWelfare.json
{
  "name": "SocialWelfare",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful assistant {{ $now }}\n\"You are a specialized assistant for social welfare schemes.\n\nWhen a user asks a question, always use the web_search tool first to find the most recent information.\n\nYou must retrieve at least 5 results.\n\nFormat your final response strictly according to the output parser.\"\nTools:\nweb_search - use this tool to search the web\nsend the top 5 seach results"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2592,
        304
      ],
      "id": "992b2a2c-6891-408f-b2a0-901f131c0247",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2736,
        528
      ],
      "id": "16ce616d-5621-40a1-a14f-b47ae79b9d77",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "RRT7aBliJ24E8qnL",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet for real-time information about government welfare schemes, eligibility criteria, and news. It returns a list of relevant websites and summaries.",
        "url": "http://host.docker.internal:8089/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true,
        "dataField": "results"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -2512,
        672
      ],
      "id": "8b422631-e577-42bf-9114-56bad9306ca8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -928,
        1360
      ],
      "id": "07a3960c-8bb2-4675-897b-471816f31d39",
      "name": "When chat message received",
      "webhookId": "d975215a-8cce-4df6-a2cd-488e1fa6eecf"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=output.results",
        "options": {}
      },
      "id": "db59df25-e2f9-47bf-8204-b96aa1906b8b",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1984,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fe9c8995-8740-4c4e-942b-006e252cdd79",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1408,
        304
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "51f0d763-5bac-41c4-9fd9-6750d481a6b4",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -992,
        304
      ],
      "webhookId": "9af87c5e-b07f-48dc-9ca8-61b471a24cad"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d90c1ce-590e-40a5-ae8c-d92326032975",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2bfd0389-7037-4758-b8f4-e2f973bee50d",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        304
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "page",
                "value": "={{ $json.url }}"
              }
            ]
          }
        }
      },
      "id": "b432375d-fd4b-4564-bc9d-abf09a9ac23f",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        240,
        256
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 300
      },
      "id": "9c73c351-81a5-4021-a365-99d66226ace8",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        304,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2bcdb54-e1fe-4670-99aa-6eec973bf5f1",
              "name": "task_id",
              "value": "={{ $('HTTP Request6').item.json.task_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3e6c14a7-0471-4c89-a3e3-90ff01f14561",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        496
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "78924b6e-e92d-4b1b-bfc1-b0e4957b30de",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -80,
        80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "zoCRRl2B6loxFVdT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11235/crawl/job",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "urls",
              "value": "={{ [$json.url] }}"
            },
            {
              "name": "priority",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "78acd6b5-10e3-4c82-845e-f315935baadf",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1184,
        304
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:11235/crawl/job/{{ $json.task_id }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "242edaf7-3f7b-4039-90ce-b4fe6ecb5bb0",
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        304
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -16,
        320
      ],
      "id": "9aefafd1-8e5d-4145-b16c-afbe342eba96",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "AJHHHSBcuNUnDS4G",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function extractTextFromHTML(html) {\n  if (!html || typeof html !== 'string') {\n    return '';\n  }\n\n  return html\n    // remove scripts & styles\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n    // remove tags\n    .replace(/<\\/?[^>]+(>|$)/g, ' ')\n    // decode basic entities\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    // normalize whitespace\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nreturn items.map(item => {\n  const result = item.json.result;\n  const status = item.json.status || 'unknown';\n\n  let html = '';\n  let url = '';\n\n  if (result && Array.isArray(result.results) && result.results.length > 0) {\n    html = result.results[0].html || '';\n    url = result.results[0].url || '';\n  }\n\n  const text = extractTextFromHTML(html);\n\n  return {\n    json: {\n      url,\n      status,\n      text\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        304
      ],
      "id": "0d875862-fdbd-4c14-8c12-67d468d86983",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"results\": [\n    {\n      \"title\": \"Scheme Name 1\",\n      \"url\": \"https://example.com/1\",\n      \"source\": \"Government Portal\",\n      \"short_description\": \"Details about the first scheme.\"\n    },\n    {\n      \"title\": \"Scheme Name 2\",\n      \"url\": \"https://example.com/2\",\n      \"source\": \"Official Site\",\n      \"short_description\": \"Details about the second scheme.\"\n    }\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2384,
        528
      ],
      "id": "9ca5b0c4-ea74-444c-ad01-c217aca5d547",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2304,
        704
      ],
      "id": "8ff724af-7d8a-4ffd-b54e-4ce14c8d9d79",
      "name": "OpenRouter Chat Model7",
      "credentials": {
        "openRouterApi": {
          "id": "RRT7aBliJ24E8qnL",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "054faf1b-143e-4237-a407-00fd6c819d52",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1776,
        304
      ],
      "id": "7478d8f0-4987-4be0-ac12-b9fae1cf5150",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=you are a helpful assistant. When you search the database and find results, do not just show the raw JSON or metadata. Instead, read the pageContent and short_description fields to provide a clear, conversational answer to the user's question.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -624,
        1360
      ],
      "id": "898a17b3-9591-4631-905d-6f7329a93ed9",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -768,
        1584
      ],
      "id": "47c707c6-5a87-4551-a54a-08d0bc29391b",
      "name": "OpenRouter Chat Model9",
      "credentials": {
        "openRouterApi": {
          "id": "RRT7aBliJ24E8qnL",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "web_search - searches the internet",
        "url": "http://host.docker.internal:8089/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true,
        "dataField": "results"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -544,
        1728
      ],
      "id": "cf31bd01-c952-4c85-9404-d5f2b8b66606",
      "name": "HTTP Request8"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -624,
        1584
      ],
      "id": "59fbbb7a-f227-4d59-a7f2-65c5f82f0642",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "uKLpM6Q6Oc5bSLin",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "supabase_search",
        "description": "=Use this tool to search for information about {{$json.chatInput}}. It contains the latest data scraped from web sources.",
        "topK": 10
      },
      "id": "965bd5d9-d861-49db-9f82-6b3f7a76179c",
      "name": "Vector Store Tool2",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -272,
        1744
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "ea598cc2-6f2d-402f-a754-e20e83e23ce5",
      "name": "Supabase Vector Store4",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -432,
        1920
      ],
      "credentials": {
        "supabaseApi": {
          "id": "zoCRRl2B6loxFVdT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -464,
        2096
      ],
      "id": "7c531334-1c7b-4f3f-8c3a-0fada06b547d",
      "name": "Embeddings Ollama5",
      "credentials": {
        "ollamaApi": {
          "id": "AJHHHSBcuNUnDS4G",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -128,
        1936
      ],
      "id": "bd3cb1c4-6e6b-4d61-bd59-3d19251ac499",
      "name": "OpenRouter Chat Model11",
      "credentials": {
        "openRouterApi": {
          "id": "RRT7aBliJ24E8qnL",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Question",
        "formDescription": "answers your query",
        "formFields": {
          "values": [
            {
              "fieldLabel": "query",
              "placeholder": "Write your question here",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -2976,
        304
      ],
      "id": "e5a72d1f-c60d-4136-9e3a-babb0d423440",
      "name": "On form submission1",
      "webhookId": "bd43863f-6da2-45c8-85a4-353460dc1141"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('On form submission1').item.json.submittedAt }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2608,
        512
      ],
      "id": "89fb4359-b7f6-4a6e-aa84-f7d8292919f5",
      "name": "Simple Memory3"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store4": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool2",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama5": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4aab79b-31cf-4c94-bbed-163c89ca6d7d",
  "meta": {
    "instanceId": "b7abb952cd899f6669b1a05a9c0a0c1a45d95709aba7dedae907aa7b3161f92a"
  },
  "id": "uRl29CTKoSyJZCin",
  "tags": []
}